[data-sortable-initialized] th[data-sorted] svg {
  display: none;
}

[data-sortable-initialized]
  th[data-sorted="true"][data-sorted-direction="ascending"] {
  color: rgba(16, 21, 22, 0.6);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="rgba(16, 21, 22, 0.6)" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M215.4,92.9A8,8,0,0,0,208,88H48a8,8,0,0,0-7.4,4.9,8.4,8.4,0,0,0,1.7,8.8l80,80a8.2,8.2,0,0,0,11.4,0l80-80A8.4,8.4,0,0,0,215.4,92.9Z"></path></svg>');
  background-position: right 30px bottom 11px;
  background-repeat: no-repeat;
}

[data-sortable-initialized]
  th[data-sorted="true"][data-sorted-direction="descending"] {
  color: rgba(16, 21, 22, 0.6);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="rgba(16, 21, 22, 0.6)" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M213.7,154.3l-80-80a8.1,8.1,0,0,0-11.4,0l-80,80a8.4,8.4,0,0,0-1.7,8.8A8,8,0,0,0,48,168H208a8,8,0,0,0,7.4-4.9A8.4,8.4,0,0,0,213.7,154.3Z"></path></svg>');
  background-position: right 30px bottom 11px;
  background-repeat: no-repeat;
}

#app table[data-sortable-initialized="true"] tr > th:first-child,
#app table[data-sortable-initialized="true"] tr > td:first-child {
  position: sticky;
  left: 0;
  border-right: 1px solid #cfcfcf;
  z-index: 1;
  background: rgb(236 237 238);
}

.composer-custom-tooltip-root {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  transform: translateX(-50%) translateY(-100%);
  margin-top: -8px;
  display: none;
}

.composer-custom-tooltip-root .tippy-box {
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 13px;
  max-width: 250px;
  line-height: 1.4;
  text-align: left;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(0, 0, 0, 0.3);
  transition: opacity 300ms, transform 300ms;
  opacity: 0;
  transform: translateY(5px);
}

.composer-custom-tooltip-root .tippy-box[data-state="visible"] {
  opacity: 1;
  transform: translateY(0);
}

.composer-custom-tooltip-root .tippy-content {
  padding: 5px 9px;
  word-wrap: break-word;
}

.composer-custom-tooltip-root .tippy-box::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.cursor-help {
  cursor: help;
}
